[Desktop Entry]
Name=Org Protocol
Comment=Handle org-protocol URLs for Emacs capture
Exec=emacsclient %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
NoDisplay=true
